.detailMain {
	width: 100%;
	height: 100%;
	position: relative;
}

.detailsHeader {
	margin-top: 1em;
	font-size: 15px;
	font-weight: 600;
}

.outerCallBoxDetails {
	width: 90%;
	border: var(--border);
	border-radius: var(--borderRadius);
	padding: 1em 1em 0em 1em;
}

.callBoxDetails {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	color: inherit;
	background-color: var(--backgroundWhite);
}

.detailsText {
	padding: 1em;
}

.archive {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 0.5em;
	cursor: pointer;
	flex-flow: column;
}

.archive:hover {
	stroke: black;
	stroke-width: 0.05rem;
}

.archive span {
	opacity: 0;
	margin-top: 0.5em;
	color: #808080;
	font-size: 10px;
}

.archive:hover span {
	opacity: 1;
}

.outerBoxArchive {
	display: flex;
	justify-content: center;
	align-items: center;
}

.del {
	width: 16px;
	height: 16px;
	stroke-width: 0.01rem;
}
