/* Global variables under root */
:root {
  --border: 1px solid rgb(202, 202, 202);
  --borderDash: 1px dashed rgb(202, 202, 202);
  --boxShadow1: 0 0 5px 0 rgba(0, 0, 0, 0.9);
  --backgroundWhite: rgb(245, 245, 245);
  --borderRadius: 6px;
}

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

#app .container {
  width: 450px;
  height: 799px;
  z-index: 100;
  background: var(--backgroundWhite);
  border-radius: 3px;
  box-shadow: var(--boxShadow1);
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}

#app .container-view {
  box-sizing: border-box;
  height: 100%;
}
