.mainInbox {
	width: 100%;
	height: 100%;
	position: relative;
	display: flex;

	align-items: center;
	flex-flow: column;
}

.centerLoad {
	top: 10%;
	left: 0%;
	width: 100%;
	height: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
}

.mainList {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	font-size: 9px;
}

.date {
	color: #808080;
	margin: 1em 0;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 600;
}

.dotted {
	border-top: var(--borderDash);
	color: transparent;
	width: 110px;
	margin: 0 0.5em;
}

.callBox {
	width: 90%;
	border: var(--border);
	border-radius: var(--borderRadius);
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	color: inherit;
	background-color: var(--backgroundWhite);
}

.callBox:active {
	box-shadow: var(--boxShadow1);
	background-color: var(--backgroundWhite);
}

.callBox:hover {
	background-color: white;
}

.leftSide {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.phone {
	width: 12px;
	height: 12px;
	margin-right: 1em;
}

.textwrite {
	margin-top: 0.5em;
}

.inboxTitle {
	margin: 1em 0em;
	font-weight: 600;
}

.savedBox {
	width: 13px;
	height: 13px;
}

.time {
	display: flex;
	justify-content: center;
	align-items: center;
}

.saved {
	margin-right: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.saved span {
	opacity: 0;
	margin-left: 0.5em;
}

.saved:hover span {
	opacity: 1;
}
